@import url('http://fonts.cdnfonts.com/css/minecraftia');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar{
	width: 7px;
	background-color: rgb(70, 70, 70);
}

::-webkit-scrollbar-thumb{
	background-color: #1f1f1f;
}

li{
	list-style-type: none;
}

ul{
	list-style: none; 
}

summary{
	list-style: none;
}

summary::-webkit-details-marker {display: none; }

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
 
details summary::before {
  content: "[+] ";
}
details[open] summary::before {
	text-align: end;
  content: "[–] ";
}

.wrapper{
	min-height: 100vh;
	display: grid;
	grid-template-rows: 100px 1fr 50px;
	background-color: #333;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}

.header{
	background-color: #2b2b2b;
}

.footer{
	background-color: #2b2b2b;
}

.header{
	display: grid;
	grid-area: header;
	grid-template-columns: 1fr minmax(auto, 200px) minmax(auto, 1100px) 1fr;
	border-bottom: 2px solid #1f1f1f;
	justify-items: center;
	align-items: center;
}

.header__logo{
	grid-column: 2 / 3;
}

.navigation{
	grid-column: 3 / 4;
}

.navigation__topmenu > li {
  position: relative;
}

.navigation__submenu{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: -webkit-fill-available;
  transition: 0.5s ease-in-out;
	visibility: hidden;
  opacity: 0;
  background: #414141;
}

.navigation ul li:hover .navigation__submenu{
	visibility: visible;
  opacity: 1;
}

.navigation__topmenu{
	display: grid;
	grid-auto-flow: column;
}

.navigation__link{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-decoration: none;
	display: block;
  padding: 10px 30px;
  outline: none;
  transition: .5s linear;
	color: #adadad;
}

.main{
	grid-area: main;
}

.footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-area: footer;
	border-top: 2px solid #1f1f1f;
	justify-items: center;
}


.footer__copyrights{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #adadad;
}