.main{
	display: grid;
	grid-template: 1fr / 1fr;
	align-items: center;
}

.content__about{
	display: flex;
	text-align: center;
	flex-direction: column;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: aliceblue;
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: aliceblue;
}

.href{
	text-decoration: none;
}